/* styles.css */
body {
    background-color: lightblue;
}

table {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

.true {
  background-color: lightgreen;
}

.false {
  background-color: lightcoral;
}